# Ignore build directories
VS-build/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Temporary files
SandBox/debug/
Tedditor/debug/
SandBox/assets/cache/
Tedditor/assets/cache/
Tedditor/assets/tmp/
SandBox/assets/tmp/